<!--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Pavo Web Crawler</title>
</head>
<body>-->
	<h1>Welcome to the Pavo group web crawler</h1>
	<p>Enter some basic information to get started.</p>

	<form action="">
		<label>
			Starting webpage:
			<input type="text" name="startPage" size="30" maxlength="150" />
		</label>
		<label>
			Number of links to search:
			<input type="text" name="numberOfLinks" size="5" maxlength="10" />
		</label>
		<label>Search type:</label>
		<select name="searchType" id="searchType">
			<option value="depthFirst">Depth First</option>
			<option value="breadthFirst">Breadth First</option>
		</select>
		<label>
			Optional keyword:
			<input type="text" name="keyword" size="15" maxlength="30" />
		</label>
		<br />
		<input type="submit" value="Start the crawler" />
	</form>
<!--</body>
</html>-->